#matchPlayedPerYear {
  min-width: 310px;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
}


#extraRunConceded {
  min-width: 310px;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
}



#topEconomicBowlers {
  min-width: 310px;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
}


#wi {
  min-width: 310px;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
}





